Task1/Task_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:vsr:xml-werkzeuge:aufgabe2.3"
xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="urn:vsr:xml-werkzeuge:aufgabe2.3"
elementFormDefault="qualified">
  <xs:element name="form">
    <xs:complexType>
      <xs:all>
        <xs:element name="firstName" type="xs:string"/>
        <xs:element name="familyName" type="xs:string"/>
        <xs:element name="psnr" type="xs:positiveInteger"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
</xs:schema>
